@layout("/common/_container.html"){
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <div class="form-horizontal">

            <input type="hidden" id="id" value="${item.id}">

            <div class="row">
                <div class="col-sm-6 b-r">
                            <#input id="id" name="主键id" value="${item.id}" underline="true"/>
                            <#input id="catalogueName" name="目录名字" value="${item.catalogueName}" underline="true"/>
                            <#input id="imgUrl" name="轮播图片地址" value="${item.imgUrl}" underline="true"/>
                            <#input id="url" name="跳转链接url" value="${item.url}" />
                </div>

                <div class="col-sm-6">
                            <#input id="urlType" name="url类型,0:H5,1:内部" value="${item.urlType}" underline="true"/>
                            <#input id="catalogueIndex" name="目录对应位置" value="${item.catalogueIndex}" underline="true"/>
                            <#input id="dataType" name="0:轮播,1:条目" value="${item.dataType}" />
                </div>
            </div>

            <div class="row btn-group-m-t">
                <div class="col-sm-10">
                    <#button btnCss="info" name="提交" id="ensure" icon="fa-check" clickFun="CatalogueInfoDlg.editSubmit()"/>
                    <#button btnCss="danger" name="取消" id="cancel" icon="fa-eraser" clickFun="CatalogueInfoDlg.close()"/>
                </div>
            </div>
        </div>

    </div>
</div>
<script src="${ctxPath}/static/modular/app/catalogue/catalogue_info.js"></script>
@}
