@layout("/common/_container.html"){
<div class="row">
    <div class="col-sm-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>app首页配置管理</h5>
            </div>
            <div class="ibox-content">
                <div class="row row-lg">
                    <div class="col-sm-12">
                        <div class="row">
                            <div class="col-sm-3">
                                <#NameCon id="condition" name="名称" />
                            </div>
                            <div class="col-sm-3">
                                <#button name="搜索" icon="fa-search" clickFun="Catalogue.search()"/>
                            </div>
                        </div>
                        <div class="hidden-xs" id="CatalogueTableToolbar" role="group">
                            @if(shiro.hasPermission("/catalogue/add")){
                                <#button name="添加" icon="fa-plus" clickFun="Catalogue.openAddCatalogue()"/>
                            @}
                            @if(shiro.hasPermission("/catalogue/update")){
                                <#button name="修改" icon="fa-edit" clickFun="Catalogue.openCatalogueDetail()" space="true"/>
                            @}
                            @if(shiro.hasPermission("/catalogue/delete")){
                                <#button name="删除" icon="fa-remove" clickFun="Catalogue.delete()" space="true"/>
                            @}
                        </div>
                        <#table id="CatalogueTable"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="${ctxPath}/static/modular/app/catalogue/catalogue.js"></script>
@}
