@layout("/common/_container.html"){
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <div class="form-horizontal">

            <input type="hidden" id="id" value="${item.id}">

            <div class="row">
                <div class="col-sm-6 b-r">
                            <#input id="id" name="主键id" value="${item.id}" underline="true"/>
                            <#input id="productId" name="商品id" value="${item.productId}" underline="true"/>
                            <#input id="productName" name="商品名称" value="${item.productName}" underline="true"/>
                            <#input id="productPrice" name="商品价格" value="${item.productPrice}" underline="true"/>
                            <#input id="firstType" name="商品一级类目" value="${item.firstType}" underline="true"/>
                            <#input id="ticketdPrice" name="券后价" value="${item.ticketdPrice}" underline="true"/>
                            <#input id="ticketDenomination" name="优惠券面额" value="${item.ticketDenomination}" underline="true"/>
                            <#input id="platformType" name="平台类型,天猫,淘宝" value="${item.platformType}" underline="true"/>
                            <#input id="nameOfShop" name="店铺名称" value="${item.nameOfShop}" underline="true"/>
                            <#input id="priductUrl" name="商品链接" value="${item.priductUrl}" underline="true"/>
                            <#input id="priductImage" name="商品主图" value="${item.priductImage}" underline="true"/>
                            <#input id="incomeRatio" name="收入比率" value="${item.incomeRatio}" />
                </div>

                <div class="col-sm-6">
                            <#input id="activityTimeStart" name="开推时间" value="${item.activityTimeStart}" underline="true"/>
                            <#input id="ticketTimeStart" name="优惠券开始时间" value="${item.ticketTimeStart}" underline="true"/>
                            <#input id="ticketTimeEnd" name="优惠券结束时间" value="${item.ticketTimeEnd}" underline="true"/>
                            <#input id="ticketAmount" name="优惠券总量" value="${item.ticketAmount}" underline="true"/>
                            <#input id="ticketResidue" name="优惠券剩余量" value="${item.ticketResidue}" underline="true"/>
                            <#input id="ticketId" name="优惠券id" value="${item.ticketId}" underline="true"/>
                            <#input id="ticketGeneralizeUrl" name="优惠券推广链接" value="${item.ticketGeneralizeUrl}" underline="true"/>
                            <#input id="referralLinks" name="推广链接" value="${item.referralLinks}" underline="true"/>
                            <#input id="recommend" name="官方推荐" value="${item.recommend}" underline="true"/>
                            <#input id="productDetailPage" name="商品详情页" value="${item.productDetailPage}" underline="true"/>
                            <#input id="taobaoGuestUrl" name="淘宝客链接" value="${item.taobaoGuestUrl}" underline="true"/>
                            <#input id="productMonthlySales" name="" value="${item.productMonthlySales}" />
                </div>
            </div>

            <div class="row btn-group-m-t">
                <div class="col-sm-10">
                    <#button btnCss="info" name="提交" id="ensure" icon="fa-check" clickFun="DetailInfoDlg.editSubmit()"/>
                    <#button btnCss="danger" name="取消" id="cancel" icon="fa-eraser" clickFun="DetailInfoDlg.close()"/>
                </div>
            </div>
        </div>

    </div>
</div>
<script src="${ctxPath}/static/modular/taobao/detail/detail_info.js"></script>
@}
